<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h3>Order List</h3>
    <p id="orderAuthor" th:text="'Author: ' + ${author}"></p>

    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order: ${orders}">
            <td class="order-id" th:text="${order.id}"></td>
            <td th:text="${order.status}"></td>
            <td>
                <a th:href="@{/order/pay/{orderId}(orderId=${order.id})}" class="btn btn-primary btn-sm">Pay</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
